[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/enforcer32/spdlog
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "Dependencies/SFML"]
	path = Dependencies/SFML
	url = https://github.com/enforcer32/SFML.git
